<div class="bg-amber-200 m-8">
  <h2 class="font-bold underline text-center pt-5">
    Hi {{username}}, Welcome to the waiters app!
  </h2>

  {{#if messages.success}}
  <div class="alert alert-succ text-center">
    <p id="successMessage"> {{messages.success}}</p>
  </div>
  {{/if}}

  {{#if messages.error}}
  <div id="successMessage" class="alert alert-error">
    <p id="successMessage"> <b>{{messages.error}}</b></p>
    <script
      type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script>

  </div>
  {{/if}}
  <br>

  <form class="form-horizontal" action="/login" method="POST">
    <div class="form-group ">

      <label class="control-label col-sm-2" for="">Verification Code:</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" name="addCode">
      </div>
      <div class="col-sm-offset-2">
        <button class="btn btn-success" type="submit">Send</button>
      </div>
    </div>

    <div class="m-1 bg-slate-400">

    </div>

  </form>


</div>