body{
    background-color: HEX: #b2ad7f;
  }
  .box-cover{
    background-color: #E6E6FA;
    height: 800px;
    padding: 40px;
  }
  .app_name {
    padding-left: 110px
  }
  .box-in{
    padding-top: 80px;
  }
  table,
  th,
  td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  .day {
    font-family: 'Trirong';
    font-size: large;
    padding-left: 25vh;
    height: 28px;
  }
  
  .forfont {
    font-family: 'Trirong';
    font-size: large;
  }
  
  form{
    margin-left: 20px;
    margin-top: 20px;
  }
  .info{
    background-color : red;
  }
  .danger{
    background-color: red !important;
  }
  .warning{
    background-color: orange !important;
   
  }
  .booked{
    background-color: green;
  }
  h3{
    font-style: italic;
    font-family: luminari,fantasy;
  }
  h1{
  font: 400 50px/1.5 'Pacifico' !important;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  }
  h2, h3, h4{
    font: 400 30px/1.5 'Pacifico' !important;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  }
  p{
    font: 400 20px/1.5 'Pacifico' !important;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  }
  
  a:link{
    text-decoration: none;
  }
  
  .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  .green {
    background: green;
  }
  
  .red {
    background: red;
  }
  
  .orange {
    background: orange;
  }
  
  .box-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
  .box-me > p {
    height: 20px;
    margin: 5px;
    margin-right: 18px;
  }
  
  .bottom-row, .bottom-row td {
    border-width: 1px 1px 0px 0px;
  }
  .initial-bottom-row td{
    border-width: 1px 1px 0px 0px;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  
  }
  .flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 180px;
  }
  .waiter_img{
    margin-left: 10px;
    margin-top: 10px;
    width:90px;
    height:90px
  }
  .register{
    margin-left: 50px;
  }
  .buttons{
    margin-top: 25px;
  }
  .reg-container{
    margin-top:40px;
  }
  .admin-btn{
    margin-left: 10px;
  }
  .schedule-btn{
    margin-left: 20px;
  }
  .pickbuttons{
    margin-left: 170px;
  }
  .alert-error{
    background-color: #FF6347;
    width: 920px;
    height: 60px;
    margin-left: 120px;
  }
  .alert-succ{
    background-color: #32de84;
    width: 920px;
    height: 60px;
    margin-left: 120px;
  }
  /* .pop_up_msg{
    margin-top: 280px;
  } */
  @media (max-width: 440px)  {
    .box-cover {
      background-color: lightgreen;
      height: 880px;
    }
    .center{
      margin-left: auto;
      margin-right: auto;
    }
    .pickday{
      font-family: 'Trirong';
      font-size: large;
      padding-left: 315vh;
    }
    form{
      margin-left: ;
      margin-top: ;
    }
    .app_name {
      padding-left: 7px;
    }
    .day {
      font-family: 'Trirong';
      font-size: large;
      padding-left: 5vh;
      height: 28px;
    }
    .pickbuttons{
      margin-left: 10px;
    }
  }